.cDetail {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "title"
    "flag"
    "generalinformation"
    "socialInformation";
  background-color: $colorGreen;
  padding: 5%;
  border-radius: 25px;
  @include tablet() {
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "generalinformation generalinformation flag"
      "generalinformation generalinformation socialInformation";
  }
  @include desktop() {
    width: 60%;
  }

  &__title {
    grid-area: title;
    color: $colorBurgundy;
    &--country {
      color: $colorYellow;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.1rem;
      @include tablet() {
        padding-left: 2%;
        font-size: 2.5rem;
      }
      @include desktop() {
        padding-left: 1%;
        font-size: 3rem;
      }
    }
  }
  &__flag {
    grid-area: flag;
    width: 100%;
    height: 100%;
  }
  &__information {
    grid-area: generalinformation;
    @include tablet() {
      align-self: center;
    }

    &--timezone {
      padding: 10px 0 0;
    }
    &--currency {
      padding: 10px 0 0;
    }
  }
  &__socialInformation {
    grid-area: socialInformation;
    @include tablet() {
      align-self: end;
    }

    &--language {
      padding: 10px 0 0;
    }
  }
}
