.filters {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  &__label {
    display: flex;
    flex-direction: column;
    color: $colorYellow;
    font-size: 0.8rem;
    padding: 5px;
  }
  &__select {
    color: $colorNoBlack;
    border-radius: 25px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(192, 192, 192, 0.5);
  }
  &__dropdowns {
    display: flex;
    flex-direction: column;
    @include tablet() {
      flex-direction: row;
      width: 80%;
      justify-content: space-evenly;
    }
  }
}
