//PALETTE
$colorNoBlack: #1b1b1b;
$colorGray: #c0c0c0;
$colorGreen: #006a4e;
$colorBurgundy: #6a001c;
$colorYellow: #ffd700;
$colorSalmon: #ff7f50;

//FONTS
$fontMontserrat: "Montserrat", sans-serif;
